[tool.poetry]
name = "robotframework-doctestlibrary"
version = "0.6.0"
description = "A library for Visual Document Testing"
authors = ["Many Kasiriha <many.kasiriha@dbschenker.com>"]
maintainers = ["Many Kasiriha <many.kasiriha@dbschenker.com>"]
license = "Apache-2.0"
packages = [
    { include = "DocTest" },
]
exclude = ["DocTest/data/frozen_east_text_detection.pb"]
readme = "./README.md"
homepage = "https://github.com/manykarim/robotframework-doctestlibrary"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
PyMuPDF = "*"
imutils = "*"
numpy = "*"
opencv-python-headless = "*"
parsimonious = "*"
pytesseract = "*"
robotframework = ">=4"
scipy = "*"
scikit-image = "*"
Wand = "*"
pylibdmtx = "*"
deepdiff = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
invoke = "*"
coverage = "*"
robotframework-stacktrace = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
