[tool.poetry]
name = "robotframework-doctestlibrary"
version = "0.31.0"
description = "A library for Visual Document Testing"
authors = ["Many Kasiriha <many.kasiriha@dbschenker.com>"]
maintainers = ["Many Kasiriha <many.kasiriha@dbschenker.com>"]
license = "Apache-2.0"
packages = [{ include = "DocTest" }]
exclude = ["DocTest/data/frozen_east_text_detection.pb"]
readme = "./README.md"
homepage = "https://github.com/manykarim/robotframework-doctestlibrary"

[tool.poetry.dependencies]
python = "^3.9.0"
PyMuPDF = [
    { version = ">=1.23.1, <1.25.0", python = ">=3.8, <3.9" },
    { version = ">=1.26.0", python = ">=3.9" },
]
imutils = "*"
numpy = [
    { version = "<1.25", python = ">=3.8, <3.9" },
    { version = ">=1.25, <2.0", python = ">=3.9, <3.10" },
    { version = ">=1.26", python = ">=3.10, <3.13" },
    { version = ">=2.1.0", python = ">=3.13" },
]
opencv-python-headless = "*"
parsimonious = "*"
pytesseract = "*"
robotframework = ">=4"
scipy = [
    { version = "<1.11", python = "<=3.8" },
    { version = "*", python = ">3.8,<3.12" },
    { version = ">=1.11", python = "^3.12" },
]
scikit-image = [
    { version = "<0.22", python = "<=3.8" },
    { version = "*", python = ">3.8,<3.12" },
    { version = ">=0.22.0", python = ">=3.12,<3.13" },
    { version = ">=0.25.0", python = ">=3.13" },
]
Wand = "*"
pylibdmtx = "*"
deepdiff = [
    { version = "<8.0", python = "<3.9" },
    { version = "*", python = ">=3.9,<3.12" },
    { version = ">=6.0", python = ">=3.12" },
]
pyzbar = "*"
setuptools = { version = "*", python = "^3.12" }
robotframework-assertion-engine = "*"
pydantic-ai-slim = { version = "*", optional = true, extras = ["openai"] }
python-dotenv = { version = "*", optional = true }

[tool.poetry.dev-dependencies]
pytest = "*"
invoke = "*"
coverage = "*"
robotframework-stacktrace = "*"

[tool.poetry.extras]
ai = ["pydantic-ai-slim", "python-dotenv"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
